.modal-dialog {
    max-width: 100%;
}
.anterior{
    background-color: black;
    color: white;
    width: 91.81px;
    margin-left: 5px;
}
.anterior:hover{
    background-color: black;
    color: white;
}

