#filtro-amenidades{
    margin-top: 8rem !important ;
}
h3 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 2.2 !important;
}
.form-inline{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 89%;
}
.filtroresponsive{
    display: none;
}
 .header-unidades {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
}
 .header-unidades .btn {
    font-size: .85em;
    font-weight: 700;
    margin-left: 2px;
    margin-right: 2px;
    padding: 2px 10px;
    border-radius: 12px;
}
#headerbajo{
    background: #FF6C2F
}
.search{
    display: flex;
    max-width: 100%;
    justify-content: center;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: black !important;
}
.modal-dialog {
    max-width: 100%;
    margin: 0 !important;

}
.modal{
    padding: 0 !important;
}
.modal-body 
{
    padding: 0 !important;
}
.anterior{
    background-color: black;
    color: white;
    width: 91.81px;
    margin:56px 0 0 5px;
    position: absolute;
    z-index: 9;
}
.anterior:hover{
    background-color: black;
    color: white;
}

.modal-content{
    height: 100vh;
}
body{
    /* overflow-x: hidden; */
 }
footer{
    background: black;
}
footer a , footer h6{
    color: white;
}
h3{
    font-size: 1.75rem !important;
}
h6{
    font-size: 1rem;
}
.precio::before{
    content: "$";

}
.navbar-light .navbar-nav .nav-link {
    
    color: black;
}
.btn:hover {
    
    color: white;

}
.row-locales{
    display: flex;
    justify-content: space-between;
}
.mapa{
    width: 100vw;
    height: 100vh;
}
.item-1{
    display: flex;
}
.item-2{
    padding-left:1.1rem;
}.fa-warehouse:before {
    content: "\f494";
}
.type-letra{
    text-transform: uppercase;
}
.row-reserva{
    border: 1px solid  rgb(211, 209, 209);
    justify-content: space-around;
    
}

.precio::before{
    content: "$";

}
.container{
    max-width: 1440px;
}
#mapa-button{
    width: 100%;
    overflow: hidden;
    height: 215px;
    position: relative;
}
#mapa-button .btn{
    position: absolute;
    bottom: 39px;
    left: 5%;
    width: 90%;
    right: 5%;
}

.grupo-filtro{
    list-style: none;
    padding: 0;
}
.item-filtro{
    margin: 10px 0;
}
.btn-block{
    color: white;
}
.btn-block:hover{
    color: black;
}
.btn-medidas:hover{
background-color: #FF6C2F;
color: black;
}
.medidas{
    list-style-type: none;
    padding-left: 0;

}
.areatexto{
    display: inline-block;
    width: 55px;
    vertical-align: top;
}
.oferta{
    display: inline-block;
}
.cyan{
    color: cyan;
}
/* reserva */
h3{
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}
li{
    list-style: none;
}
.btn-reserva{
    background: #FF6C2F;
    color: white;
    border: none;
}
.bg-orange{
    background: #FF6C2F !important;
}
.btn-reserva:hover{
    color :black;
    background: #FF6C2F;

}
.formulario-reserva{
    width: 100% ;
}
.row-reserva{
    cursor: pointer;
}
.contenedor{
    padding-left: 3rem;
    padding-right:3rem;
}
.imagen-reserva{
    width: 300px;
}
.bg-black{
    background-color: black;
    color: white;
}
.bg-black:hover{
    color: white;

}
 .btn-border {
        background: rgb(211, 209, 209) !important;
 }
 .btn-border :hover{
      background: rgb(211, 209, 209) !important;;
 }
.caracteristicas-amenidades li{
    margin-bottom: 5px;
}
.caracteristicas-amenidades{
    transition: height 250ms ease-out 0s;
    position: relative;
}
.link-wrapper {
    position: relative;
    display: block;
    padding: 20px 0;
  }
  
  
  .link {
    display: inline-block;
    position: relative;
    text-decoration: none;
    padding: 10px 0;
    color: #fff;
  }
  .link-wrapper {
    position: relative;
    display: block;
    padding: 1px 0;
  }
 
  /* hover styles */
  .hover-1:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform: scaleX(1);
    transform-origin: bottom right;
    transition: transform 0.3s;
  }

  .hover-1:hover:after {
    transform-origin: bottom left;
    transform: scaleX(0);
  }
  .carousel-item  img {
      height: 50vh;
      object-fit: cover;
      object-position: center;
  }
  .check{
      color: #FF6C2F;
  }
  .redes{
    justify-content: space-around;
  }
  .redes-link{
      border-radius: 200px 200px 200px 200px;
-moz-border-radius: 200px 200px 200px 200px;
-webkit-border-radius: 200px 200px 200px 200px;
border: 0px solid white;

  }
  .amenidades ul{
      padding:0;
  }
  .paginador{
      display: flex;
      justify-content: center;
  }
  .btn-pag{
      margin: 0 0.2rem 0.3rem 0.2rem;
  }
  .bg-grey{
      background: #eee;
  }
  html,body {
    background:white;
  }
  .btn-medidas{
    /* margin: 0 1rem 0 1rem ; */
    text-align: left;
    font-size: 1.2rem;
    padding: 0.6rem;
}
.unit-icon{
    margin-right: 12px;
}
  .wrapper{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background: #FF4E50;  
      background: -webkit-linear-gradient(to top, rgba(249, 213, 35, 0.63), rgba(240, 136, 39, 0.5)),url(../img/bodegas.jpg); 
      background: linear-gradient(to top, rgba(249, 213, 35, 0.349),   rgba(240, 136, 39, 0.411)),url(../img/bodegas.jpg);
      background-repeat: no-repeat; 
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
  }
  .form-signin{
      width: 500px;
      background: white;
      padding:2rem;
      border-radius: 23px 23px 23px 23px;
      -moz-border-radius: 23px 23px 23px 23px;
      -webkit-border-radius: 23px 23px 23px 23px;
      border: 0px solid #000000;
      
  }
  .form-signin >h2{text-align: center;}
  .form-control,.updreserva {margin: 1rem 0 1rem 0  ;}
 .updreserva{
    border-radius: 23px 23px 23px 23px;
    -moz-border-radius: 23px 23px 23px 23px;
    -webkit-border-radius: 23px 23px 23px 23px;
    border: 0px solid #000000;
 }
 .updreserva:hover{
    box-shadow: 0 0 0.5rem #FF6C2F;
 }
 .oculto{
     display: block;
 }
 .oculto-btn{
     display: none;
 }
 
 .modalexp:not(.show) {
    opacity: 1;
}
.modalexp{
    position: static;
}
    .altura{
        border:none;
    }

@media (max-width:800px){
    .modalexp:not(.show) {
        opacity: 0;
    }
    .modalexp{
        position: fixed
    }
    
    .altura{
        height: 113vh;
        border:inherit;
    }
    .oculto-btn{
        display: block;
    }
    .filtro{
        position: absolute;
        right: 0;
        margin-right: 0;
    }
    .btnfiltro{
        display: flex;
        margin:0 auto;
    }
    
    .search{
        flex-direction: column;
    }
    .margin{
        margin-top: 110px;
    }
    .border{
        border:0 !important;
    }
    .filtroscroll{
        /* top:0;
        z-index: 9999;
        position: fixed;
        width: 100vw;
        border: 0;
        left: 0; */
    }
    .filtrosresponsive{
        /* z-index: 9999;
        position: fixed;
        width: 100vw;
        top: 73px;
        border: 0;
        left: 0; */
    }
    .item-filtro{
        /* width: 10vw; */
    }
    .item-filtro:hover{
        /* background-color:; */
    }
    
    .btn-medidas:hover{
        background-color: transparent;
       
        }
    
    .filtro-contenido h3 {
        /* display: none; */

    }
    #filtro-tamaño > p{
        /* display: none; */
    }
    
    #btn-apply-filters{
        /* display: none; */
    }
    .grupo-filtro{
/*         
        display: flex;
        justify-content: space-evenly;
        border: 0;
        width: 101%;
        background: #eee;
        position: relative;
        left: -21px; */
        
    }
    .oculto{display: none;}
    /* .grupo-filtro .icon{
        width: 20px;
    }
    .grupo-filtro .icon img{
        width: 100%;
    } */
}
@media (min-width: 768px){
    .lg-amenidades {
        display: block;
    }
}